ul(data-role='listview', data-divider-theme='b', data-inset='true')
    li(data-role='list-divider', role='heading') Historie testů rychlosti
    each test, index in tests
        li(data-theme='a')
            a(href='#page5', data-transition='slide') 23.4.2013 15:33
    li(data-theme='b')
        a(href='#delete', data-transition='slide') Smazat historii
